<IfModule mod_rewrite.c>
    RewriteEngine On

    # Don't apply to files that exist
    RewriteCond %{REQUEST_FILENAME} !-f
    # Don't apply to directories that exist
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other requests to index.php
    RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>
