<IfModule mod_rewrite.c>
    DirectoryIndex index.php

    RewriteEngine On
    RewriteBase /

    # Block access to sensitive directories
    RewriteRule ^(src|config|install|plugins|templates) - [F,L]

    # If a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise forward the request to index.php
    RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>
